<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Upload Local audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="https://newcss.net/lite.css">
    <style>
      input {
        width: 100%;
      }
      </style>
    <script>
      window.onload = function() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
          });
        }
      };
    </script>
  </head>

  <body>
    <form action="/add" method="POST" enctype="multipart/form-data">
      <label>Audio
      <input type="file" name="audio" required />
    </label>
    <br>
      <label>Title  
      <input name="title" autocomplete="off" required />
    </label>  
    <br>
      <label>Latitude<input id="latitude" name="latitude" /></label>
    <br>
      <label>Longitude<input id="longitude" name="longitude" /></label>
      <br>
      <input type="submit" />
    </form>

    <p><strong>Data retention</strong> is one day, 24 hours.</p>
  </body>
</html>
