<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Upload Local audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="https://newcss.net/lite.css" />
    <style>
      input {
        width: 100%;
      }
    </style>
    <script>
      window.onload = function () {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            document.getElementById("latitude").value =
              position.coords.latitude;
            document.getElementById("longitude").value =
              position.coords.longitude;
          });
        }
      };
    </script>
  </head>

  <body>
    <form action="/add" method="POST" enctype="multipart/form-data">
      <label
        >Audio
        <input type="file" name="audio" required accept="audio/*" capture />
        <!-- accept="audio/*" does not work on Safari 15 -->
        <!-- "capture" launches camera on Safari 15 -->
      </label>
      <br />
      <label
        >Title
        <input name="title" autocomplete="off" required />
      </label>
      <br />
      <label>Latitude<input id="latitude" name="latitude" /></label>
      <br />
      <label>Longitude<input id="longitude" name="longitude" /></label>
      <br />
      <input type="submit" />
    </form>

    <dl>
      <dt>Data retention</dt>
      <dd>One day, 24 hours.</dd>
      <dt>User Agent</dt>
      <!-- look up user-agent from .Header -->
      <dd>{{ index .Header "User-Agent" }}</dd>
    </dl>
  </body>
</html>
