<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://newcss.net/lite.css">
    <style>
table {
  width: 100%;
  table-layout: fixed;
}
    </style>
    <title>Local audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />

<script>
  window.onload = function() {
    // if geolocation is available, and lat/lng is unset on get parameters
    if (navigator.geolocation && window.location.search.indexOf("lat=") === -1 && window.location.search.indexOf("lng=") === -1) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var lat = position.coords.latitude
        var lng = position.coords.longitude
        window.location = '/?lat=' + lat + '&lng=' + lng
      })
    }
    }
</script>

  </head>

  <body>

    <table>
      <thead>
        <td>Audio</td>
        <td>Author</td>
        <td>Title</td>
        <td>Distance (m)</td>
        <td>Uploaded (mins)</td>
      </thead>
      <tbody>
      {{range .Selection -}}
      <tr>
        <td>
        <audio controls>
          <source src="{{ .Audio }}" type="audio/x-m4a" />
        </audio> 
        </td>
        <td>{{ .ID }}</td>
        <td>{{ .Title }}</td>
        <td>{{- if $.UserLocation -}}
          {{ printf "%.0f" (.Distance $.UserLocation) }}
          {{- end }}</td>
        <td>{{.TimeSinceCreation }}m ago</td>
      </tr>
      {{ end }}
    </tbody>
    </table>

    <p><a href="/add">Add a recording</a></p>
    <p><a href="https://github.com/kaihendry/local-audio">Source code</a></p>

  </body>
</html>
