<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Local audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />

<script>
  window.onload = function() {
    // if geolocation is available, and lat/lng is unset on get parameters
    if (navigator.geolocation && window.location.search.indexOf("lat=") === -1 && window.location.search.indexOf("lng=") === -1) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var lat = position.coords.latitude
        var lng = position.coords.longitude
        window.location = '/?lat=' + lat + '&lng=' + lng
      })
    }
    }
</script>

  </head>

  <body>

    <ol>
      {{range .Selection -}}
      <li>
        <audio controls>
          <source src="{{ .Audio }}" type="audio/x-m4a" />
        </audio>
        Author: {{ .ID }} - Distance: {{ .Distance .Latitude .Longitude }} - Title: {{ .Title }} - Latitude: {{ .Latitude }} - Longitude {{ .Longitude }} - Created: {{.TimeSinceCreation }} ago
      </li>
      {{ end }}
    </ol>

    <p><a href="/add">Add a recording</a></p>

  </body>
</html>
